body {
	background-color: white;
	color: black;
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	width: 100vw;
/*	height: 100vh;*/
	grid-template-columns: 
	1fr      2fr 	  1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"logo		heady		heady"
	"navvy		navvy		navvy"
	"aside1		mainy		aside2"
	"aside1		mainy		aside2"
	"aside1		mainy		aside2"
	"footy		footy		footy";

}

header {
	grid-area: heady; 
	background: #D2D8B3;
	width: auto;
	height: 200px;
}

#logo {
	grid-area: logo;
	margin-left: 80px;
}

#title{
	margin-top: 80px;
	margin-right: 100px;
	text-align: right;
}

nav {
	grid-area: navvy; 
}

main {
	grid-area: mainy; 
	margin-top: 50px;
}

#aside1 {
	grid-area: aside1;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 300px;
}

#aside2 {
	grid-area: aside2;
	background: rgb(250,250,250);
}

footer {
	grid-area: footy;
	text-align: center;
	font-size: 10px;
}

img {
	width: 200px;
	height: auto;
}


ul li{
	list-style: none;
	display: block;
	width: 120px;
	float: left;
	margin-left: 2px;
	border: 1px;
	margin-left: 150px;
}

